<!DOCTYPE html>
<html>
<%include("/common/header.html"){}%>

<body>
	<div id="wrapper" class="toggled">


		<%include("/common/nav.html"){}%>

		<!--主要内容content-->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr>
									<th>商品id</th>
									<th>名称</th>
									<th>图片</th>
									<th>单价</th>
									<th>库存</th>
									<th>描述</th>
									<th>类目</th>
									<th>创建时间</th>
									<th>修改时间</th>
									<th colspan="2">操作</th>
								</tr>
							</thead>
							<tbody>


								<%for(productInfo in productInfoPage.content){%>
								<tr>
									<td>${productInfo.productId}</td>
									<td>${productInfo.productName}</td>
									<td><img height="100" width="100"
										src="${productInfo.productIcon}" alt=""></td>
									<td>${productInfo.productPrice}</td>
									<td>${productInfo.productStock}</td>
									<td>${productInfo.productDescription}</td>
									<td>${productInfo.categoryType}</td>
									<td>${productInfo.createdTime,dateFormat="yyyy-MM-dd HH:mm:ss"}</td>
									<td>${productInfo.updateTime,dateFormat="yyyy-MM-dd HH:mm:ss"}</td>
									<td><a
										href="/seller/product/index?productId=${productInfo.productId}">修改</a></td>
									<td>
										<%if(@productInfo.getProductStatusEnum().getMessage()=="在售"){%> <a
										href="/seller/product/off_sale?productId=${productInfo.productId}">下架</a>
										<%}else{%> <a
										href="/seller/product/on_sale?productId=${productInfo.productId}">上架</a>
										<%}%>
									</td>
								</tr>
								<%}%>
							</tbody>
						</table>
					</div>

					<!--分页-->
					<div class="col-md-12 column">
						<ul class="pagination pull-right">
							<%if(currentPage <=1){%>
							<li class="disabled"><a href="#">上一页</a></li> <%}%> <%else{%>
							<li><a
								href="/seller/product/list?pageNo=${currentPage-1}&pageSize=${size}">上一页</a></li><%}%>
							<%for(var i=1;i
							<productInfoPage.totalPages+1;i++){%>
							<%if(i==currentPage){%>
							<li class="disabled"><a href="#">${i}</a></li>
							<%}else{%>
							<li><a
								href="/seller/product/list?pageNo=${i}&pageSize=${size}">${i}</a></li>
							<%}}%> <%if(currentPage >=productInfoPage.totalPages){%>
							<li class="disabled"><a href="#">上一页</a></li>
							<%}else{%>
							<li><a
								href="/seller/product/list?pageNo=${currentPage+1}&pageSize=${size}">下一页</a></li>
							<%}%> 
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>