<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>卖家后端管理系统</title>
<link
	href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div id="wrapper" class="toggled">


		<%include("/common/nav.html"){}%>
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<table class="table table-bordered table-condensed">
							<thead>
								<tr>
									<th>订单id</th>
									<th>姓名</th>
									<th>手机号</th>
									<th>地址</th>
									<th>金额</th>
									<th>订单状态</th>
									<th>支付状态</th>
									<th>创建时间</th>
									<th colspan="2">操作</th>
								</tr>
							</thead>
							<tbody>
								<%for(orderDTO in orderDTOPage.content){%>
								<tr>
									<td>${orderDTO.orderId}</td>
									<td>${orderDTO.buyerName}</td>
									<td>${orderDTO.buyerPhone}</td>
									<td>${orderDTO.buyerAddress}</td>
									<td>${orderDTO.orderAmount}</td>
									<td>${@orderDTO.getOrderStatusEnum().getMessage()}</td>
									<td>${@orderDTO.getPayStatusEnum().getMessage()}</td>
									<td>${orderDTO.createTime,dateFormat="yyyy-MM-dd HH:mm:ss"}</td>
									<td><a
										href="/seller/order/detail?orderId=${orderDTO.orderId}">详情</a></td>
									<td><%if(@orderDTO.getOrderStatusEnum().getMessage()==
										"新订单"){%> <a
										href="/seller/order/cancel?orderId=${orderDTO.orderId}">取消</a>
										<%}%>
									</td>
								</tr>
								<%}%>
							</tbody>
						</table>
					</div>
					<div class="col-md-12 column">
						<ul class="pagination pull-right">

							<%if(currentPage <=1){%>
							<li class="disabled"><a href="#">上一页</a></li> <%}%> <%else{%>
							<li><a
								href="/seller/order/list?pageNo=${currentPage-1}&pageSize=${size}">上一页</a></li><%}%>
							<%for(var i=1;i
							<orderDTOPage.totalPages+1;i++){%>
							<%if(i==currentPage){%>
							<li class="disabled"><a href="#">${i}</a></li>
							<%}else{%>
							<li><a
								href="/seller/order/list?pageNo=${i}&pageSize=${size}">${i}</a></li>
							<%}}%> <%if(currentPage >=orderDTOPage.totalPages){%>
							<li class="disabled"><a href="#">上一页</a></li>
							<%}else{%>
							<li><a
								href="/seller/order/list?pageNo=${currentPage+1}&pageSize=${size}">下一页</a></li>
							<%}%> 
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 弹窗 -->
	<div class="modal fade" id="myModal" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">提醒</h4>
				</div>
				<div class="modal-body" id="message"></div>
				<div class="modal-footer">
					<button
						onclick="javascript:document.getElementById('notice').pause()"
						type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button onclick="show()" type="button"
						class="btn btn-primary">查看新的订单</button>
				</div>
			</div>
		</div>
	</div>
	<input hidden id="orderId" type="text" name="orderId" value="">
	<!-- 播放音乐 -->
	<audio id="notice" loop="loop">
		<source src="/static/mp3/song.mp3" type="audio/mpeg" />
	</audio>
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script>
	var websocket = null;
	if ('WebSocket' in window) {
	    websocket = new WebSocket('ws://127.0.0.1:8089/webSocket');
	} else {
	    alert('该浏览器不支持websocket!');
	}

	websocket.onopen = function(event) {
	    console.log('建立连接');
	}

	websocket.onclose = function(event) {
	    console.log('连接关闭');
	}

	websocket.onmessage = function(event) {
	    console.log('收到消息:' + event.data)
	    var insertText = document.createTextNode('您有一个新的订单：' + event.data);
	    document.getElementById('message').appendChild(insertText);
	    var value = document.getElementById('orderId');
	    if (value.value != "") {
		value.value = ""
	    } else {
		value.value = event.data;
	    }
	    //弹窗提醒, 播放音乐
	    $('#myModal').modal('show');

	    document.getElementById('notice').play();
	}

	websocket.onerror = function() {
	    alert('websocket通信发生错误！');
	}

	window.onbeforeunload = function() {
	    websocket.close();
	}
	
	function show(){
	    
	    window.open('http://127.0.0.1:8089/seller/order/detail?orderId='+document.getElementById('orderId').value);
	}
    </script>
</body>
</html>